<table class="perfil">
  <tr>
    <td class="imatge">
      <img src="/assets/usuariPerfil.png" id="imatgeUsuari">
    </td>
    <td class="content" id="username-cell">
      <h1 id="username">Usuari: {{ username }}</h1>
    </td>
  </tr>
  <tr>
    <td class="content" id="email-cell">
      <h1 id="email">Email: {{ email }}</h1>
    </td>
  </tr>
  <tr id="nom-cognom">
    <td class="content" id="name-cell">
      <h1 id="name">Nom: {{ name }}</h1>
    </td>
    <td class="content" id="lastName-cell">
      <h1 id="lastName">Cognom: {{ lastName }}</h1>
    </td>
  </tr>
  <tr>
    <td class="content" id="password-cell">
      <h1 id="password">Contrasenya: {{ password }}</h1>
    </td>
    <td class="content" id="btn-cell">
      <button id="btn">Cambiar les dades</button>
    </td>
  </tr>
</table>
