.perfil {
  margin: 3vmin auto;
  border: 1px solid;
  width: 50%;
  box-shadow: inset 0 0 2vmin 1vmin #000;
  background-color: #3eb6e8;
  font-family: Arial;
  border-spacing: 2vmin;
}

.imatge {
  max-width: fit-content;
  display: inline-block;
}

.content {
  display: inline-block;
  max-height: fit-content;
  height: fit-content;
  text-align: center;
}

h1 {
  font-size: 4vmin;
}

#imatgeUsuari {
  height: 16vh;
  width: 11vw;
  margin: 3vmin 0 0 3vmin;
  border: 2px solid;
  border-radius: 80%;
}

#username-cell {
  padding-left: 3vmin;
  width: 45%;
}

#username {
  width: fit-content;
  margin: auto;
}

#email-cell, #name-cell, #lastName-cell {
  margin: auto;
  width: 100%;
}
