<div>
  <aside>
    <form>
      <label class="cookie_category">Tipus de galeta</label><br>
      <input type="checkbox" name="dolces" class="cookie_type" [(ngModel)]="filtreSeleccionat.dolca"><label>Dolces</label><br>
      <input type="checkbox" name="salades" class="cookie_type" [(ngModel)]="filtreSeleccionat.salada"><label>Salades</label><br>
      <label class="cookie_category">Tipus de pasta</label><br>
      <input type="checkbox" name="dura" class="cookie_type" [(ngModel)]="filtreSeleccionat.dura"><label>Dura</label><br>
      <input type="checkbox" name="tova" class="cookie_type" [(ngModel)]="filtreSeleccionat.tova"><label>Tova</label><br>
      <input type="checkbox" name="liquida" class="cookie_type" [(ngModel)]="filtreSeleccionat.liquida"><label>Líquida</label><br>
    </form>
  </aside>
  <article>
    <div *ngFor="let galeta of catalegGaletes | filtreGaletes:filtreSeleccionat" [ngClass]="{'galleta-dolca': galeta.gust === 'dolca', 'galleta-salada': galeta.gust === 'salada', 'galleta-integral': galeta.pasta === 'dura'}">
      <img class="article_image" [src]="getGaletaImage(galeta)">
      <h2>{{ galeta.nom }}</h2>
      <p>{{ galeta.pasta }} - {{ galeta.preu }}</p>
      <div class="tmp_false_button">Comprar</div>
    </div>
  </article>
</div>
<app-footer></app-footer>
