

<div id="content">
  <aside>
    <form>
      <label class="cookie_category">Tipus de galeta</label><br>
      <input type="checkbox" name="dolces" class="cookie_type" [(ngModel)]="filtreSeleccionat.dolca"><label>Dolces</label><br>
      <input type="checkbox" name="salades" class="cookie_type" [(ngModel)]="filtreSeleccionat.salada"><label>Salades</label><br>
      <label class="cookie_category">Tipus de pasta</label><br>
      <input type="checkbox" name="dura" class="cookie_type" [(ngModel)]="filtreSeleccionat.dura"><label>Dura</label><br>
      <input type="checkbox" name="tova" class="cookie_type" [(ngModel)]="filtreSeleccionat.tova"><label>Tova</label><br>
      <input type="checkbox" name="liquida" class="cookie_type" [(ngModel)]="filtreSeleccionat.liquida"><label>Líquida</label><br>
    </form>
  </aside>
  <article>
    <div class="product" *ngFor="let product of Products | filtreGaletes: filtreSeleccionat; trackBy: trackByProductId" [ngClass]="{'galleta-dolca': product.gust === 'dolca', 'galleta-salada': product.gust === 'salada', 'galleta-integral': product.pasta === 'dura'}">
      <img class="article_image" src="{{product.image}}">
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <h3>{{ product.price | currency:'EUR' }}</h3>
      <div id="offert" *ngIf="product.oferta > 0">
        <h4><p id="discount-label">Descompte:</p> {{product.oferta}}%</h4>
      </div>
      <button id="comprar" class="btn btn-success" (click)="addToCart(product)">Comprar</button>
    </div>
  </article>
</div>
<app-footer></app-footer>
