<article>
  <div class="formulari">
    <ul class="contenidor-tabs">
      <!-- Contingut dels Formularis -->
      <div class="contingut">
        <!-- Iniciar Sesió -->
        <div class="iniciar-sesio">
          <h1 id="h1-contacte">Contacte</h1>
          <form>
            <table>
              <tr class="text">
                <td><strong>Nom</strong> <span class="req"></span></td>
                <td><input type="text" required ></td>
              </tr>
              <tr class="text">
                <td><strong>Email</strong><span class="req"></span></td>
                <td><input type="email" required></td>
              </tr>
              <tr class="text">
                <td>Asumpte <span class="req"></span></td>
                <td><input type="text" name="introduir_asumpte" required="obligatori" placeholder="Escriu un asumpte"></td>
              </tr>
              <tr class="text">
                <td>Missatge <span class="req"></span></td>
                <td><textarea name="introduir_missatge" class="text_missatge" id="missatge" required="obligatori" placeholder="Deixa aquí el teu comentari..."></textarea></td>
              </tr>
            </table>
            <div class="recaptcha">
              <re-captcha (resolved)="onResolved($event)" siteKey="6LeYW54pAAAAAGmVgba2c4teTJR1Jv2UEg5UDQk4"></re-captcha>
            </div>
            <button type="submit" class="button" name="enviar_formulari" id="enviar">
              <p>Enviar</p>
            </button>
          </form>
        </div>
      </div>
    </ul>
  </div>
</article>
