<div class="text">
  <section>
    <h2>Tèrmes i Condicions</h2>

    <p>Benvingut a Bobby Cookies. Si continues navegant i utilitzant aquesta pàgina web, estàs acceptant complir amb i estar sotmès als següents termes i condicions d'ús, que juntament amb la nostra política de privacitat, regulen la relació de Bobby Cookies amb tu en relació amb aquesta pàgina web.</p>

    <p>L'ús d'aquesta pàgina web està subjecte als següents termes de l'ús:</p>

    <ol>
      <li>El contingut de les pàgines d'aquesta pàgina web és per a la teva informació general i ús. Està subjecte a canvis sense previ avís.</li>
      <li>Ni nosaltres ni cap tercer ens garanteixen ni donen cap garantia quant a la precisió, puntualitat, rendiment, exhaustivitat o idoneïtat de la informació i materials trobats o oferts en aquesta pàgina web per a qualsevol propòsit particular. Acceptes que aquesta informació i materials poden contenir inexactituds o errors i excluïm expressament la nostra responsabilitat per qualsevol inexactitud o error en la màxima mesura permesa per la llei.</li>
      <li>Termini de Devolució: Disposem d'un termini de 30 dies des de la data de recepció del producte per sol·licitar una devolució.</li>
      <li>Estat del Producte: El producte ha de ser retornat en les mateixes condicions en què va ser rebut. Ha de ser sense usar i en el seu embalatge original.</li>
      <li>Sol·licitud de Devolució: Si desitges retornar un producte, si us plau, posa't en contacte amb el nostre servei d'atenció al client mitjançant el nostre formulari de contacte a la nostra pàgina web. Proporciona la informació de la teva comanda i expliquen's el motiu de la devolució.</li>
      <li>Procediment de Devolució: T'informarem sobre el procediment específic de devolució una vegada rebuda la teva sol·licitud. Assegura't de seguir les instruccions proporcionades per facilitar el procés de manera eficient.</li>
      <li>Reemborsament: Un cop rebut i verificat el producte retornat, procedirem a processar el reemborsament corresponent. Tingues en compte que el termini de processament pot variar segons la forma de pagament utilitzada.</li>
      <li>Excepcions: Algunes restriccions poden aplicar-se a certes categories de productes. Si tens algun dubte, si us plau, consulta les nostres condicions específiques per a cada categoria.</li>
    </ol>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p>Apreciam molt la teva comprensió i col·laboració en aquest procés. Estem aquí per fer que la teva experiència de compra sigui positiva i satisfactòria.</p>
        <p>L'ús d'aquesta pàgina web i qualsevol controvèrsia que en sorgeixi d'aquest ús està subjecte a les lleis de Catalunya.</p>
      </div>
    </div>
  </section>


</div>
