<article class="text">
  <h3>Benvinguts a Bobby Cookies.</h3>
  <p>
    El paradís dels amants de les galetes! En cada mossegada cruixent, trobaràs l'essència mateixa de la felicitat.
    A la nostra fleca virtual, ens enorgulleix presentar una experiència única en cada galeta. A Bobby Cookies, coem amb amor i creativitat.
    Cada galeta és una obra d'art artesanal, elaborada amb ingredients de la més alta qualitat.
  </p>
  <p>
    Des de les clàssiques amb xocolata fins a les innovadores creacions que desperten les teves papil·les gustatives, cada galeta explica una història de sabor excepcional.
    Explora la nostra col·lecció de delícies coent amb passió.
  </p>
  <div id="imatges-galetes">
    <img id="galetes" class="rounded float-left" src="assets/chocolate-chip-cookies.jpg"><br>
    <img id="galetas" src="assets/galletas.png" class="rounded float-right" > <br>
  </div>
  <p>
    Busques un regal memorable o simplement vols consentir-te amb alguna cosa dolça?
    Bobby Cookies té la galeta perfecta per a cada ocasió. Navega per les nostres pàgines i descobreix un món de sabors que deleitaran el teu paladar.
  </p>
  <p>
    A Bobby Cookies, no només venem galetes; oferim moments de joia i plaer. Uneix-te a la nostra comunitat d'amants de les galetes i deixa que cada compra sigui una experiència única.
  </p>
  <p>
    A punt per descobrir l'art de la galeta perfecta? Submergeix-te en el món irresistible de Bobby Cookies!
  </p>
  <p>
    A Bobby cookies tenim una gran plantilla d'experts en comestibles i cuiners experts en postres i galetes, per axo som la millor empresa de galetes de la zona
  </p>
  <img id="Fabrica" src="assets/Fabrica.jpg">
  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">NIF</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bobby Coockies</td>
      <td>07840623S</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Galetes gullon</td>
      <td>69555384A</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Grup Adam Foods</td>
      <td>80626042W</td>
    </tr>
    </tbody>
  </table>
</article>
