article h3 {
  margin-top: 3vh;
}
#Fabrica {
  width: 60%;
  height: 40vh;
  border: 1px solid;
}
.text {
  background-color: #3eb6e8;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0 10% 3% 10%;
  font-family: Arial;
  border: 1px solid black;
}
.text img {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.text p {
  margin-bottom: 1vh;
}
#galetes {
  height: 30vh;
  border: 1px solid;
}
#galetas {
  width: 25vh;
  height: 20vh;
  border: 1px solid;
}
p {
  display: inline-block;
}
