.general {
  margin: 5vmin auto;
  border: 1px solid black;
  width: 80%;
  box-shadow: inset 0 0 2vh 1vh #000;
  background-color: #3eb6e8;
  color: white;
  font-family: "Microsoft YaHei UI Light";
  font-weight: normal;
}

.contingut {
  padding: 2vmin;
}

h2 {
  fontstyle: bold;
  margin-bottom: 1.5vmin;
}

.cookie-item {
  margin-bottom: 3vmin;
  padding: 2vmin;
  border: 1px solid #000;
  color: black;
  background-color: #35a0cb;
  border-radius: 5px;
}

.cookie-item-heading {
  font-size: 1.5em;
  margin-bottom: 1vmin;
}

.cookie-item-text {
  margin: 0;
}
