<div class="formulari">
  <ul class="contenidor-tabs">
    <!-- Contingut dels Formularis -->
    <div class="contingut">
      <!-- Iniciar Sesió -->
      <div class="iniciar-sesio">
        <h1 id="h1-registrarse">Registrarse</h1>
        <form [formGroup]="input" (ngSubmit)="onSubmit(formulario.value)" #formulario="ngForm" ngNativeValidate>
          <table>
            <tr class="text">
              <td>Nom <span class="req"></span></td>
              <td><input type="text" name="Name" required formControlName="name"></td>
            </tr>
            <tr class="text">
              <td>Cognom <span class="req"></span></td>
              <td><input type="text" name="LastName" formControlName="lastName" required></td>
            </tr>
            <tr class="text">
              <td>Usuari <span class="req"></span></td>
              <td><input type="text" name="Usuari" required formControlName="user" maxlength="20"></td>
            </tr>
            <tr class="text">
              <td>Email <span class="req"></span></td>
              <td><input type="email" name="Email" required formControlName="email"></td>
            </tr>
            <tr class="passwd">
              <td>Contraseña <span class="req"></span></td>
              <td><input type="password" name="Password" class="form-control" id="exampleInputPassword1"  required formControlName="password"></td>
            </tr>
            <tr class="passwd">
              <td>Repetir Contraseña <span class="req"></span></td>
              <td><input type="password" required formControlName="passwordCheck"></td>
            </tr>
          </table>
          <div class="recaptcha">
            <re-captcha (resolved)="onResolved($event)" siteKey="6LeYW54pAAAAAGmVgba2c4teTJR1Jv2UEg5UDQk4"></re-captcha>
          </div>
          <input *ngIf="this.recaptcha !== null && this.recaptcha !== undefined" type="submit" class="button" value="Registrarse">
          <input *ngIf="this.recaptcha === undefined || this.recaptcha === null" type="submit" class="button" value="Registrarse" disabled>
          <p id="register-error"></p>
        </form>
      </div>
      <div class="inciar-registre">
        <!-- Links dels formularis -->
        <a class="inici" routerLink="/login" routerLinkActive="active">Iniciar Sesió</a>
        <a class="registre" routerLink="/registre" routerLinkActive="active">Registrarse</a>
      </div>
    </div>
  </ul>
</div>
