<header>
  <a href="https://orteil.dashnet.org/cookieclicker/"><img src="{{logoImg}}"></a>
  <h1>Bobby Cookies</h1>
  <div id="inici-registre">
    <ul *ngIf="readUserConnection() === 'false'" class="session">
      <li id="log-in"><a routerLink="/login" routerLinkActive="active" class="username">Iniciar Sessio</a></li>
    </ul>
    <ul *ngIf="readUserConnection() === 'true'" class="session">
      <li id="usuari">
        <div>
          <img src="{{usuariImg}}" id="imatge-perfil" routerLink="/perfil" routerLinkActive="active">
          <a routerLink="/perfil" routerLinkActive="active" class="username">{{username}}</a>
        </div>
        <ul>
          <li id="log-out"><a href="javascript:void(0)" (click)="logOut()" class="username">Log Out</a></li>
        </ul>
      </li>
    </ul>
    <ul *ngIf="readUserConnection() === 'false'" class="session"><li id="registre"><a routerLink="/registre" routerLinkActive="active" class="username">Registrarse</a></li></ul>
  </div>
<!--    <p *ngIf="readUserConnection() === 'true'" class="session">{{username}}</p>-->
</header>
<nav>
  <ul>
    <li><a routerLink="" routerLinkActive="active">Pagina principal</a></li>
    <li><a routerLink="/cataleg" routerLinkActive="active">Catàleg</a></li>
    <li><a routerLink="/cistella" routerLinkActive="active">Cistella</a></li>
    <li><a routerLink="/condicions" routerLinkActive="active">Condicions</a></li>
    <li><a routerLink="/contacte" routerLinkActive="active">Contacte</a></li>
  </ul>
</nav>

