header {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #3745a5;
  box-shadow: inset 0 0 10vmin 1vmin #000;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 18vmin;
  display: inline-block;
  float: left;
  margin: 2vmin;
}
header h1 {
  display: inline-block;
  margin-left: -15vmin;
  font-size: 6vmin;
  font-family: "Imprint MT Shadow";
  text-shadow: 0px 0px 5px #0c338f, 0px 0px 10px #93c6d3, 0px 0px 10px #052570,
  0px 0px 20px #38383a;
}
header .session {
  font-size: 3vmin;
  margin-right: 2vmin;
}
header .session, header .session li{
  list-style: none;
  text-align: center;
}
header .session li{
  width: 12vmin;
  height: 5vmin;
  background-color: #3eb6e8;
  border-radius: 0.5vmin;
}
header .session li a{
  width: 100%;
  height: 100%;
}
header .session ul{
  display: none;
  top: 100%;
}
header .session li:hover > ul {
  display: block;
  position: absolute;
  top: 7.4vmin;
  right: 2vmin;
}
#log-out {
  background-color: #3eb6e8;
}
#log-out a {
  color: white;
}
#log-out:hover {
  background-color: red;
}
#log-in, #registre, #usuari, #log-out {
  width: 22vmin;
  padding: 0;
  background-color: transparent;
  margin-left: -25vmin;
  text-shadow: 0px 0px 5px #0c338f, 0px 0px 10px #93c6d3, 0px 0px 10px #052570,
  0px 0px 20px #38383a;
  font-size: 4vmin;
}
#usuari {
  width: 30vmin;
}
#log-in a, #registre a {
  width: 100%;
  height: 100%;
}
#imatge-perfil {
  height: 5vmin;
  width: 5vmin;
  margin: 0;
}
header .session a {
  text-decoration: none;
  color: white;
}
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  border: 1px solid black;
  background-color: #5164ec;
  box-shadow: inset 0 0 3vh 0.5vh #000;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav li {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 20%;
  text-shadow: 0px 0px 5px #0c338f, 0px 0px 10px #93c6d3, 0px 0px 10px #052570,
  0px 0px 20px #38383a;
}
nav li a {
  font-size: 2.2vmin;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
