<article>
  <div id="content">
    <table>
      <tr *ngFor="let item of cartService.getItems(); trackBy: trackByProductId">
        <div id="product">
          <img class="cart_image" src="{{item.image}}">
          <h2 class="cart_item_name">{{item.name}}</h2>
          <h3 class="cart_item_price">Preu: {{item.price | currency:'EUR'}}</h3>
          <button type="button" class="plus_minus_button" (click)="cartService.incrementQuantity(item.id)"> + </button>
          <p class="cart_item_quantity">{{item.quantity}}</p>
          <button type="button" class="plus_minus_button" (click)="cartService.lowerQuantity(item.id)"> - </button>
          <button class="cart_delete_button" (click)="deleteFromCart(item)">Delete</button>
        </div>
      </tr>
    </table>
    <h2>Total: {{ cartService.getTotal() | currency:'EUR' }}</h2>
    <button type="submit" id="cistella_submit" class="btn btn-success" (click)="cartService.guardarCompra()">COMPRAR</button>
  </div>
</article>
