<article>
  <div id="content">
    <table>
      <tr>
        <td class="cart_image">
          <img src="assets/condensed-milk-cookies.jpg">
        </td>
        <td class="cart_item_name">
          <h2>Galetes de llet condensada</h2>
        </td>
        <td class="cart_item_quantity">
          <button type="button" class="fake_plus-minus_button"> + </button>
          <h2>1</h2>
          <button type="button" class="fake_plus-minus_button"> - </button>
        </td>
        <td class="cart_item_price">
          <h2>9,99€</h2>
        </td>
        <td class="cart_delete_button">
          <button type="button" class="fake_delete_button">Eliminar</button>
        </td>
      </tr>
      <tr>
        <td class="cart_image">
          <img src="assets/chocolate-chip-cookies.jpg">
        </td>
        <td class="cart_item_name">
          <h2>Galetes de chocolata</h2>
        </td>
        <td class="cart_item_quantity">
          <button type="button" class="fake_plus-minus_button"> + </button>
          <h2>1</h2>
          <button type="button" class="fake_plus-minus_button"> - </button>
        </td>
        <td class="cart_item_price">
          <h2>12,99€</h2>
        </td>
        <td class="cart_delete_button">
          <button type="button" class="fake_delete_button">Eliminar</button>
        </td>
      </tr>
      <tr>
        <td class="cart_image">
          <img src="assets/integral-cookies.jpg">
        </td>
        <td class="cart_item_name">
          <h2>Galetes integrals</h2>
        </td>
        <td class="cart_item_quantity">
          <button type="button" class="fake_plus-minus_button"> + </button>
          <h2>1</h2>
          <button type="button" class="fake_plus-minus_button"> - </button>
        </td>
        <td class="cart_item_price">
          <h2>14,99€</h2>
        </td>
        <td class="cart_delete_button">
          <button type="button" class="fake_delete_button">Eliminar</button>
        </td>
      </tr>
    </table>
    <h2>Total: 37,97€</h2>
    <button type="submit" id="cistella_submit">COMPRAR</button>
  </div>
</article>
<app-footer></app-footer>
