
article {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1%;
}

h2 {
  font-size: 3vmin;
  margin-top: 2vmin;
}

#content {
  width: 70%;
  padding: 2%;
  display: flex;
  justify-content: center;
  background-color: #3eb6e8;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 1em;
  font-family: Arial;
}

table {
  width: 90%;
  border-radius: 1em;
  padding: 1%;
  background-color: #35a0cb;
}

#product {
  display: flex;
  margin-bottom: 3vmin;
  justify-content: space-evenly;
  padding: 1%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.cart_image {
  margin: auto;
  width: 20%;
  height: 20vmin;
  border: 2px solid black;
}

.cart_item_name {
  margin: auto auto auto 3vmin;
  font-size: 2.5vmin;
  max-width: 20%;
}

.cart_item_quantity {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 5%;
  margin: auto;
}

.cart_item_price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vmin;
  width: 5%;
  margin-right: 5%;
  height: 20vh;
}

.plus_minus_button {
  border: 1px solid grey;
  border-radius: 50%;
  height: 20%;
  margin: auto;
  color: grey;
  background-color: lightgrey;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
}

.plus_minus_button:active {
  background-color: #565656;
}

.cart_delete_button {
  float: right;
  height: 5vmin;
  width: 15%;
  margin: auto;
  border-radius: 10%;
  font-size: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_delete_button:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}

.fake_delete_button {
  background-color: #ff0000;
  border: 0;
  border-radius: 0.7em;
  padding: 0.5em;
  color: white;
  font-size: 1em;
}

.fake_delete_button:active {
  background-color: #9f0000;
}

#cistella_submit {
  width: 20%;
  margin-top: 2%;
  height: 7vmin;
  background-color: #2cc92c;
  border-radius: 0.7em;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid black;
}

#cistella_submit:active {
  background-color: green;
  color: white;
}

form {
  width: 70%;
  margin-top: 2%;
}

label {
  font-size: 2vmin;
  margin-bottom: 1vmin;
  display: block;
}

select {
  width: 100%;
  padding: 1vmin;
  font-size: 2vmin;
  border-radius: 0.5em;
  border: 1px solid black;
}

select:focus {
  outline: none;
  border-color: #3eb6e8;
}

option {
  font-size: 2vmin;
}
