<article>
  <div class="formulari">
    <h1>ADMIN</h1>
    <form enctype="multipart/form-data">
      <a routerLink="/grafiques" routerLinkActive="active"><button type="button" class="button" id="grafics">Grafiques</button></a>
      <a routerLink="/afegirProductes" routerLinkActive="active"><button type="button" class="button" id="AfegirProducte">Afegir Producte</button></a>
      <a routerLink="/factures" routerLinkActive="active"><button type="button" class="button" id="Historial">Historial Productes</button></a>
      <a routerLink="/transaccions" routerLinkActive="active"><button type="button" class="button" id="InfoTransaccions">Transaccions</button></a>

    </form>
  </div>
</article>
