<div class="text">
  <section>
    <h2>Política de Privacitat</h2>

    <p>Benvingut a Bobby Cookies. Aquesta pàgina web està compromesa a protegir la teva privacitat. Si ens facilites informació personal mitjançant aquesta pàgina web, pots estar segur que només s'utilitzarà d'acord amb aquesta política de privacitat.</p>

    <p>Pots llegir la nostra política de privacitat completa a continuació:</p>

    <p class="section_title">Recopilació d'Informació:</p>
    <p>Recopilem informació personal com ara el teu nom, adreça de correu electrònic i altres dades rellevants quan les proporciones voluntàriament en formularis al nostre lloc web.</p>

    <p class="section_title">Ús de la Informació:</p>
    <p>La informació que recopilem es fa servir per comprendre les teves necessitats i proporcionar-te un millor servei, i en particular per les següents raons:</p>
    <ul>
      <li>Mantenir registres interns.</li>
      <li>Millorar els nostres productes i serveis.</li>
      <li>Enviar de manera periòdica correus electrònics promocionals sobre nous productes, ofertes especials o altres informacions que pensem que poden resultar interessants per a tu.</li>

    </ul>

    <p class="section_title">Seguretat:</p>
    <p>Estem compromesos amb la seguretat de la teva informació. Per prevenir l'accés no autoritzat o divulgació, hem posat en marxa procediments físics, electrònics i administratius per protegir la informació que recopilem en línia.</p>

    <p>Aquesta política de privacitat pot ser modificada ocasionalment actualitzant aquesta pàgina. Assegura't de revisar aquesta pàgina de tant en tant per assegurar-te que estàs d'acord amb els canvis.</p>
  </section>
</div>
