<h1>HISTORIAL PRODUCTES</h1>
<!-- historial-productes.component.html -->

<div *ngIf="historialProductos.length > 0">
  <h2>Historial de Productos</h2>
  <table>
    <thead>
    <tr>
      <th>ID Factura</th>
      <th>ID Producte</th>
      <th>Quantitat</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of historialProductos">
      <td>{{ producto.detall_factura_id }}</td>
      <td>{{ producto.detall_producte_id }}</td>
      <td>{{ producto.detall_quantitat }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="historialProductos.length === 0">
  <p>No hay productos en el historial.</p>
</div>

